<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/pure/pure-min.css">
    <link rel="stylesheet" href="/static/css/pure/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Proyecto LM Parte 2</h1>
            <h2 class="brand-tagline">Proyecto de LM</h2>
        </div>
		
    </div>
	
    <div class="content pure-u-1 pure-u-md-3-4">
		<div class="pure-menu pure-menu-horizontal">
			<a href="/" class="pure-menu-heading pure-menu-link">Inicio</a>
				</li> |
            <a href = "/jugadores" class="pure-menu-heading pure-menu-link">Top Jugadores</a> 
                </li> |
            <a href="/clanes" class="pure-menu-heading pure-menu-link">Top Clanes</a>
                </li> |
            <a href="/buscador3" class="pure-menu-heading pure-menu-link">Top Torneos</a>
			</ul>
		</div>
        <div>
            {% block content %}{% endblock %}
          

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="https://educacionadistancia.juntadeandalucia.es/centros/sevilla/my/" class="pure-menu-link">Sobre mi</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/Mario-Zayas/LM-Practica-final-2_parte" class="pure-menu-link">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
