{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
               </div>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <label class="altura">
                        <a href = "/buscador1">
                        Busqueda de Jugador
                     </label>
                  </div>
                     <img src="../static/img/Jugador.jpeg" width="520" height="200">
                  <div class="col-md-6">
                     
                        <a href = "/buscador2">
                        <label class="altura">
                        Busqueda de clanes
                     </label>
                  </div>
                     <img src="../static/img/Clanes.jpg" width="520" height="200">
               </div>
               <div class="row mt-3">
                  <div class="col-md-12">
                     
                        <a href = "/buscador3">
                        <label class="altura">
                        Listado de Torneos
                     </label>
                  </div>
                     <img src="../static/img/torneo.jpg" width="520" height="200">
               </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
