{% extends "base.html" %}
{% block title %}TORNEOS{% endblock %}
{% block content %}
               </div>
               <div class="row mt-3">
                  <div class="col-md-6">
                     <label class="altura">
                        <h4 class="post-title">TORNEOS:</h4> <a href = "/buscador3">
                     </label>
                  </div>
                </form>
                <a href = "/menu">Volver al menú</a>
            </div>
         </div>
      </div>
    </div>
{% endblock %}